<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="../../static/css/test.css" th:href="@{/css/test.css}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/dsc.png" alt="" width="180" th:src="@{/img/dsc.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  custom-nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="#" th:href="@{/api/subject}">Subjects</a>
                </li>
                <li class="nav-item custom-nav-item" sec:authorize="hasRole('OWNER')">
                    <a class="nav-link" href="#">All Users</a>
                </li>
                <li class="nav-item custom-nav-item last-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" sec:authentication="name"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 th:text="${test.testName}" class="test-name"></h1>
    <p class="time-restriction" style="display: none" th:text="${test.timeRestriction}"></p>
    <div class="questions" th:each="question : ${test.questions}">
        <div class="score" style="display: none">
            <h2></h2>
            <h3>Review</h3>
        </div>
        <div class="time"
             style="display: flex; justify-content: space-around; font-weight:bold;font-size: 20px; color: orangered; text-shadow: 1px 1px 1px black">
            <p class="start-time">Started:</p>
            <p class="end-time">Completion time:</p>
        </div>
        <div class="question">
            <p class="question-text" th:text="${question.questionText}"></p>
            <div class="options" th:each="option : ${question.options}">
                <p th:text="${option.optionValue}" th:attr="true-answer=${option.isTrue}"></p>
            </div>
        </div>
    </div>

    <button class="submit" onclick="submit()">Submit All And Finish</button>
</div>

<script type="text/javascript">
    let count = 0;

    function animation() {
        let date = new Date();
        document.querySelector(".start-time").innerHTML += " " + date.getHours() + ":" + date.getMinutes();
        date = new Date(date.getTime() + parseInt(document.querySelector(".time-restriction").innerHTML) * 60000);
        document.querySelector(".end-time").innerHTML += " " + date.getHours() + ":" + date.getMinutes();
        document.querySelectorAll(".options").forEach(function (options) {
            options.querySelectorAll("p").forEach(function (option) {
                option.addEventListener("click", function () {
                    let selectedElement = options.querySelector(".selected");
                    if (selectedElement) selectedElement.classList.remove("selected");
                    option.classList.add("selected");
                });
            });
        });
    }

    function submit() {
        if (count === 0) {

            let allQuestions = document.querySelectorAll(".question").length;
            let trueAnswers = document.querySelectorAll(".selected[true-answer=true]").length;
            document.querySelectorAll(".selected[true-answer=false]").forEach(function (wrongAnswer) {
                wrongAnswer.classList.add("error");
                wrongAnswer.classList.remove("selected");
            });
            document.querySelectorAll("[true-answer=true]").forEach(function (correctAnswer) {
                correctAnswer.classList.add("correct");
                if (correctAnswer.classList.contains("selected")) correctAnswer.classList.remove("selected");
            });
            document.querySelector(".time").style.display = "none";
            document.querySelector(".score").style.display = "block";
            document.querySelector(".score h2").textContent = "Your Score: " + parseInt(trueAnswers * 100 / allQuestions);
            document.querySelectorAll(".question").forEach(function (question) {
                question.querySelector(".question-text").classList.replace("question-text", "review-question-text");
                question.querySelector(".options").classList.replace("options", "review-question-options");
                question.classList.replace("question", "review-question");
            });
            document.querySelector("button.submit").style.display = "none";
            count = 1;
            let data = {};
            let date = new Date();
            data.date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            date.score = parseInt(trueAnswers * 100 / allQuestions);
            date.testId = parseInt(document.querySelector(".text-name").innerHTML);
            fetch("/api/result/save", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            }).then(function (response) {
                return response.json();
            }).then(function (text) {
                console.log(text)
            }).catch(function (error) {
                console.log(error);
            })
        }
    }

    animation();

    setTimeout(submit, parseInt(document.querySelector(".time-restriction").innerHTML) * 60000);
</script>
</body>
</html>