<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/test.css" th:href="@{/css/test.css}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/dsc.png" alt="" width="180" th:src="@{/img/dsc.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  custom-nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="#" th:href="@{/api/subject}">Subjects</a>
                </li>
                <li class="nav-item custom-nav-item" sec:authorize="hasAuthority('OWNER')">
                    <a class="nav-link" href="#" th:href="@{/api/user/all}">All Users</a>
                </li>
                <li class="nav-item custom-nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="#" th:href="@{/api/user/add}">Sign Up/In</a>
                </li>
                <li class="nav-item custom-nav-item last-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" sec:authentication="name" th:href="@{/api/user/get}"></a>
                </li>
                <li class="nav-item custom-nav-item" sec:authorize="isAuthenticated()">
                    <a href="#" class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <h1 th:text="${test.testName}" class="test-name">Test Name</h1>
    <p class="test-id" th:text="${test.testId}" style="display: none"></p>
    <p class="time-restriction" style="display: none" th:text="${test.timeRestriction}">20</p>
    <div class="score" style="display: none">
        <div style="display: flex; justify-content: space-between">
            <h2></h2>
            <a href="" class="save-result"
               style="display: none; background-color: darkgreen; padding: 7px 12px 5px;text-align: center; border-radius: 5px; border: 3px outset #414141">Save
                Result</a>
        </div>
        <h3>Review</h3>
    </div>
    <div class="time"
         style="display: flex; justify-content: space-around; font-weight:bold;font-size: 20px; color: orangered; text-shadow: 1px 1px 1px black">
        <p class="start-time">Started:</p>
        <p class="end-time">Completion time:</p>
    </div>
    <div class="questions">
        <div class="question" th:each="question : ${test.questions}">
            <p class="question-text" th:text="${question.questionText}"></p>
            <div class="options">
                <p th:each="option : ${question.options}" th:text="${option.optionValue}"
                   th:attr="true-answer=${option.isTrue}?'true':'false'"></p>
            </div>
        </div>
    </div>

    <button class="submit">Submit All And Finish</button>
</div>

<script type="text/javascript">
    let count = 0;

    function animation() {
        let date = new Date();
        document.querySelector(".start-time").innerHTML += " " + date.getHours() + ":" + date.getMinutes();
        date = new Date(date.getTime() + parseInt(document.querySelector(".time-restriction").innerHTML) * 60000);
        document.querySelector(".end-time").innerHTML += " " + date.getHours() + ":" + date.getMinutes();
        document.querySelectorAll(".options").forEach(function (options) {
            options.querySelectorAll("p").forEach(function (option) {
                option.addEventListener("click", function () {
                    let selectedElement = options.querySelector(".selected");
                    if (selectedElement) selectedElement.classList.remove("selected");
                    option.classList.add("selected");
                });
            });
        });
    }

    function submit() {
        if (count === 0) {

            let allQuestions = document.querySelectorAll(".question").length;
            let trueAnswers = document.querySelectorAll(".selected[true-answer=true]").length;
            document.querySelectorAll(".selected[true-answer=false]").forEach(function (wrongAnswer) {
                wrongAnswer.classList.add("error");
                wrongAnswer.classList.remove("selected");
            });
            document.querySelectorAll("[true-answer=true]").forEach(function (correctAnswer) {
                correctAnswer.classList.add("correct");
                if (correctAnswer.classList.contains("selected")) correctAnswer.classList.remove("selected");
            });
            document.querySelector(".time").style.display = "none";
            document.querySelector(".score").style.display = "block";
            document.querySelector(".score h2").innerHTML = "Your Score: <span>" + parseInt(trueAnswers * 100 / allQuestions) + "</span>";
            document.querySelectorAll(".question").forEach(function (question) {
                question.querySelector(".question-text").classList.replace("question-text", "review-question-text");
                question.querySelector(".options").classList.replace("options", "review-question-options");
                question.classList.replace("question", "review-question");
            });
            document.querySelector("button.submit").style.display = "none";
            request();
            count = 1;
        }
    }

    document.querySelector("button.submit").addEventListener("click", submit);

    function request() {
        let data = {
            score: parseInt(document.querySelector(".score h2 span").textContent),
            testId: parseInt(document.querySelector(".test-id").innerHTML)
        }
        document.querySelector(".save-result").href = "/api/result/save/" + data.testId + "/" + data.score;
        document.querySelector(".save-result").style.display = "block";
    }

    animation();

    setTimeout(submit, parseInt(document.querySelector(".time-restriction").innerHTML) * 60000);
</script>
</body>
</html>