<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/css/register.css}" href="../../static/css/register.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="main-w3layouts wrapper">
    <h1>Sign Up Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post" th:action="@{/api/user/add}" th:object="${users}">
                <p th:text="${error}" class="error"></p>
                <input class="text" type="text" name="firstName" placeholder="firstName" th:field="*{firstName}">
                <input class="text" type="text" name="lastName" placeholder="lastName" th:field="*{lastName}">
                <input class="text" type="text" name="userName" placeholder="userName" th:field="*{userName}">
                <input class="text" type="password" name="password" placeholder="password" th:field="*{password}">
                <input type="submit" value="SIGN UP">
            </form>
            <p>Don't have an Account? <a href="#" th:href="@{/login}"> Login Now!</a></p>
        </div>
    </div>
</div>

</body>
</html>